img {
    height: 400px;
}

#thirdDiv {
    height: 800px;
    width: 500px;
    padding: 50px;
    background-color:green;

}

#spanId{
    font-size: 18px;
    margin: 50px;
    background-color: black;
     color: cornsilk;
}